.pre-call-screen {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 2rem;
  border: 2px solid rgba(0,0,0,.2);
  box-shadow: 0 0 5px rgba(0,0,0,.5);

  & > * {
    margin: 1rem 0;
  }

  .dropdown-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    .dropdown {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 10vh;
    }

    input {
      padding: 1rem 2rem;
      font-size: 2rem;
      outline: none;
      border: none;
    }
  }

  .start {
    padding: 1rem 3rem;
    font-size: 3rem;
    border: none;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    transition: 1s;
    border-radius: 5rem;

    &:hover {
      transition: 1s;
      color: white;
      background: rgba(0, 0, 0, .8);
    }
  }
}