.operator-select-page {
  justify-content: space-around;

  .selector-container{
    display: flex;
    justify-content: space-around;

    .list-container {
      width: 40vw;
      padding: 1rem;
      box-shadow: 0 0 5px rgba(0,0,0,.5);

      &.dropable {
        background: rgba(0,0,0,.2);
      }
    }
  }

  .name {
    border: none;
    outline: none;
    font-size: 2rem;
    margin: 0 1rem 2rem 1rem;
    float: left;
    border-bottom: 2px solid rgba(0,0,0,.3);
  }
}