.user {
  display: flex;
  padding: 1rem;
  width: 100%;
  justify-content: space-around;
  box-sizing: border-box;
  box-shadow: 0 0 5px rgba(0,0,0,.4);

  * {
    width: 22%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &:hover {
    background: rgba(0,0,0,.1);
    transition: .5s;
  }
}

.space-bottom {
  margin-bottom: 1rem;
}