.callcenter-item {
  display: flex;
  padding: 1rem;
  width: 100%;
  justify-content: space-around;
  box-sizing: border-box;
  box-shadow: 0 0 5px rgba(0,0,0,.4);
  position: relative;
  background: white;

  * {
    width: 22%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    user-select: none;
  }

  &:hover {
    background: rgba(0,0,0,.1);
    transition: .5s;
  }

  .dragger {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
  }
}

.space-bottom {
  margin-bottom: 1rem;
}