.App {
  text-align: center;
}

* {
  font-family: 'DIN Pro Medium', 'Open Sans', sans-serif !important;
}

:root {
  --black: #262728;
  --light-blue: #00a2df;
  --blue: rgb(8, 114, 153);
  --dark-blue: rgb(17, 68, 89);
  --grey: #f4f5f6;
}

@font-face {
  font-family: 'DIN Pro Medium';
  font-style: normal;
  font-weight: normal;
  src: local('DINPro-Medium'), url('resources/fonts/DINPro-Medium_13936.woff') format('woff');
}